[submodule "js/vendor/vegas"]
	path = js/vendor/vegas
	url = https://github.com/jaysalvat/vegas.git
[submodule "js/vendor/instafeed"]
	path = js/vendor/instafeed
	url = https://github.com/stevenschobert/instafeed.js.git
